---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";

import { Image } from "@astrojs/image/components";
import logo from "../assets/logo.webp";
import Header from "../components/Header.astro";
import MissionStatement from "../components/MissionStatement.astro";
import Ecwid from "../components/Ecwid.astro";
---

<Layout title="Welcome to Astro.">
    <Navbar client:visible>
        <Image src={logo} class="w-20" />
    </Navbar>
    <!-- Hero -->
    <Header />
    <MissionStatement />
    <section class="max-w-section mx-auto">
        <Ecwid />
    </section>
</Layout>
<style>
    :root {
        --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
        --font-nunito: "Nunito";
    }
</style>
