---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";

import { Image } from "@astrojs/image/components";
import logo from "../assets/logo.webp";
import Header from "../components/Header.astro";
import MissionStatement from "../components/MissionStatement.astro";
import Ecwid from "../components/Ecwid.astro";
import BupVideo from "../components/BupVideo.astro";
import Brands from "../components/Brands.astro";
import Features from "../components/Features.astro";
---

<Layout title="Welcome to Astro.">
    <Navbar client:visible>
        <Image src={logo} class="w-20" />
    </Navbar>
    <!-- Hero -->
    <Header />
    <MissionStatement />
    <section class="max-w-section mx-auto pt-[120px]">
        <div class="text-center font-medium flex flex-col gap-y-3">
            <h2
                class="text-section-h2 text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0]"
            >
                Purchasing our BŪP Smart Devices <br class="" />is as easy as
                1-2-3!
            </h2>
            <ol class="flex flex-col gap-y-2 list-decimal">
                <li>Build your BŪP Bio Card.</li>
                <li>Order your BŪP Smart Device.</li>
                <li>Start Networking!</li>
            </ol>
        </div>
        <Ecwid />
    </section>
    <BupVideo />
    <Brands />
    <Features />
</Layout>
<style>
    :root {
        --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
        --font-nunito: "Nunito";
    }
</style>
