---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
// import { Image } from "@astrojs/image/components";
import Header from "../components/Header.astro";
import MissionStatement from "../components/MissionStatement.astro";
import Ecwid from "../components/Ecwid.astro";
import BupVideo from "../components/BupVideo.astro";
import Brands from "../components/Brands.astro";
import Features from "../components/Features.astro";
import Pricing from "../components/Pricing";
import FAQ from "../components/FAQ";
import Footer from "../components/Footer";
import Carousel from "../components/Carousel.astro";
---

<!-- "@astrojs/image": "^0.3.4", -->
<Layout title="Welcome to Astro.">
    <Navbar client:visible />
    <!-- Hero -->
    <Header />
    <MissionStatement />
    <section class="max-w-section mx-auto pt-[120px]">
        <div class="text-center font-medium flex flex-col gap-y-3">
            <h2
                class="text-section-h2 text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0]"
            >
                Purchasing our BŪP Smart Devices <br class="" />is as easy as
                1-2-3!
            </h2>
            <ol class="flex flex-col gap-y-2 list-decimal">
                <li>Build your BŪP Bio Card.</li>
                <li>Order your BŪP Smart Device.</li>
                <li>Start Networking!</li>
            </ol>
        </div>
        <Ecwid />
    </section>
    <Carousel />
    <BupVideo />
    <Brands />
    <Features />
    <Pricing client:load />

    <FAQ client:load />
    <Footer client:load />
</Layout>
<style is:global>
    :root {
        --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
        --font-nunito: "Nunito";
    }

    .accordian-trigger {
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.6rem;
        height: 15px;
        width: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Vertical Bar */
    .accordian-trigger::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        transition: opacity 0.5s ease;
        background: -webkit-linear-gradient(#18e782, #00b8ff);
    }

    /* Vertical Bar */
    .accordian-active::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        opacity: 0;
        background: -webkit-linear-gradient(#18e782, #00b8ff);
    }

    /* Horizontal Bar */
    .accordian-trigger::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        transform: rotateZ(90deg);
        background: -webkit-linear-gradient(#18e782, #00b8ff);
    }

    .accordian .content {
        display: none;
        border-radius: 16px;
        overflow-y: hidden;
        max-width: 1200px;
        margin-right: auto;
        line-height: 1.7rem;
        transition: all 1s ease;
        opacity: 0;
    }

    .accordian .accordian-active {
        display: block;
        max-height: 400px;
        overflow-y: visible;
        transition: all 1s ease;
        opacity: 1;
    }

    .icon {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
