---
import Carousel from "./Carousel";
---

<section>
    <h2
        class="drop-shadow-regular text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0] font-medium text-section-h2 text-center"
    >
        Featured Cards
    </h2>
    <Carousel client:load />
</section>
