<footer class="mt-[150px] pt-6 flex flex-col gap-y-5 items-center pb-3 justify-center shadow-lg dark:shadow-none">
   
    <!-- Links -->
    <div class="flex flex-col md:flex-row items-center gap-x-5 gap-y-2 font-nunito text-sm  dark:text-slate-200 md:text-sm ">
        <a  href="https://www.bup.bio/buptuts" target="_blank" rel="noreferrer">B的P T的Ts</a>
        <a  href="https://www.bup.bio/page/terms-of-service" target="_blank" rel="noreferrer">Terms of Service</a>
        <a  href="https://www.bup.bio/page/privacy-policy" target="_blank" rel="noreferrer">Privacy Policy</a>
    </div>

    <!-- icons -->
    <div class="flex items-center gap-x-5">
        <a href="#"
            ><i
                class="fab fa-facebook text-xl text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0]"
            ></i>
        </a>
        |<a href="#"
            ><i
                class="fab fa-linkedin text-xl text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0]"
            ></i>
        </a>
        |<a href="#"
            ><i
                class="fab fa-instagram text-xl text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0]"
            ></i>
        </a>
        |
        
        {
            <label for="my-modal" class="cursor-pointer modal-button text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0]"><i
                class="fas fa-envelope text-base"

            /></label>

            <input type="checkbox" id="my-modal" class="modal-toggle" />

            <div class="modal dark:text-black">
                <div class="modal-box">
                    <h3 class="font-bold text-lg text-center">What would you like to ask us about?</h3>
                    <div class="flex flex-col gap-y-5 items-center pt-10 ">
                        <a href="mailto: hello@bup.bio">General - hello@bup.bio</a>
                        <a href="mailto: design@bup.bio">Design - design@bup.bio</a>
                        <a href="mailto: enterprise@bup.bio">Enterprise - enterprise@bup.bio</a>
                    </div>
                    <div class="modal-action">
                        <label for="my-modal" class="btn">Close</label>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Copyright -->
    <span class="font-nunito text-xs"
    >Copyright &copy; {new Date().getFullYear()} B的P速
    </span>
    
</footer>
